.form-control {
    width: 100%;
    height: calc(1.30rem + 2px);
    padding: 0.0rem .75rem;
    font-size: 0.9rem;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


ul {
 list-style: none;
 padding: 0;
 margin: 0; 
}

.main-nav {
 float: right;
 margin-top: 0px;

}
 .main-nav > li {
   float: left;
   
 }
 .main-nav li:first-child {
   border-left: none;
 }
 .main-nav a {

   display: block;
   padding: 5px 5px;
   text-decoration: none;
 }
.dropdown,
.flyout {
 position: relative;
}
.dropdown:after {
 font-size: 10.5px;
 display: block;
 position: absolute;
 top: 38%;
 right: 12%;

}
.drop-nav,
.flyout-nav {
 position: absolute;
 display: none;
}
.drop-nav li {
 border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
 display: block;
}
.flyout-nav {
 left: 100%;
 top: 0;
}
.flyout:hover a,
.flyout-nav {

}

/**
**/
table.table-striped {
	width: 100%;
}

.table.table-striped td, .table.table-striped th {
    padding: 0.3rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}


.table.table-striped.thead, .table.table-striped.tbody, .table.table-striped.tr, .table.table-striped.td, .table.table-striped.th {
	display: block;
}


.table.table-striped.tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

.table.table-striped.thead th {
	height: 2.0rem;
    width: 12.5%;
	text-align: left;
}

.table .tbody {
	height: 400px;
	overflow-y: auto;
}

.table.table-striped.thead {
	/* fallback */
	
}

.table.table-striped.tbody td, .table.table-striped.thead th {
	width: 12.5%;
	float: left;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color: grey; */
	color: white;
	/* text-align: center; */
}

.fragment img {
	float: left;
	margin-right: 10px;
}

#close {
	float: right;
	display: inline-block;
	padding: 2px 5px;
	/*  background:#ccc;*/
}

#close:hover {
	float: right;
	display: inline-block;
	padding: 2px 5px;
	background: #ccc;
	color: #fff;
}

#load {
	position: absolute;
	z-index: 1;
	border: 3px double #999;
	background: #f7f7f7;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
	top: 50%;
	left: 50%;
	text-align: center;
	line-height: 300px;
	font-family: "Trebuchet MS", verdana, arial, tahoma;
	font-size: 18pt;
}

header-fixed {
    width: 100% 
}

.scriptlist-header-fixed > thead,
.scriptlist-header-fixed > tbody,
.scriptlist-header-fixed > thead > tr,
.scriptlist-header-fixed > tbody > tr,
.scriptlist-header-fixed > thead > tr > th,
.scriptlist-header-fixed > tbody > tr > td {
    display: block;
}

.scriptlist-header-fixed > tbody > tr:after,
.scriptlist-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scriptlist-header-fixed > tbody {
    overflow-y: auto;
    height: 250px;
}

.scriptlist-header-fixed > tbody > tr > td,
.scriptlist-header-fixed > thead > tr > th {
    width: 12.5%;
    float: left;
}
<!-manage users->
.user-header-fixed > thead,
.user-header-fixed > tbody,
.user-header-fixed > thead > tr,
.user-header-fixed > tbody > tr,
.user-header-fixed > thead > tr > th,
.user-header-fixed > tbody > tr > td {
    display: block;
}

.user-header-fixed > tbody > tr:after,
.user-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.user-header-fixed > tbody {
    overflow-y: auto;
    height: 250px;
}

.user-header-fixed > tbody > tr > td,
.user-header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}
<!--script input-->
.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 250px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}



.role-header-fixed {
    width: 100% 
}

.role-header-fixed > thead,
.role-header-fixed > tbody,
.role-header-fixed > thead > tr,
.role-header-fixed > tbody > tr,
.role-header-fixed > thead > tr > th,
.role-header-fixed > tbody > tr > td {
    display: block;
}

.role-header-fixed > tbody > tr:after,
.role-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.role-header-fixed > tbody {
    overflow-y: auto;
    height: 250px;
}

.role-header-fixed > tbody > tr > td,
.role-header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}

/*to be removed */

.report-header-fixed {
    width: 100% 
}

.report-header-fixed > thead,
.report-header-fixed > tbody,
.report-header-fixed > thead > tr,
.report-header-fixed > tbody > tr,
.report-header-fixed > thead > tr > th,
.report-header-fixed > tbody > tr > td {
    display: block;
}

.report-header-fixed > tbody > tr:after,
.report-header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.report-header-fixed > tbody {
    overflow-y: auto;
    height: 300px;
}

.report-header-fixed > tbody > tr > td,
.report-header-fixed > thead > tr > th {
    
    float: left;
}

    .input-field > input {
        width: 100%;
        color: #000000;
        border: 0;
        height: 30px;
        padding: 5px 10px;
        border-bottom: 1px solid #D6D6D6;
    }
.input-field {
    padding: 10px;
}
.top-fields, .bottom-fields {
    background: none repeat scroll 0 0 #ECECEC;
    float: left;
    padding: 10px;
    width: 100%;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    -ms-border-radius: 0 3px 0 0;
    -o-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.plan-tour {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding-left: 180px;
    position: relative;
    width: 100%;
	margin-top: 10px;
    margin-bottom: 10px;
    min-height: 140px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}


div#divHeader{height: 70px;
position: relative; top: 0px; left: 0px; width:100%; margin: 0 auto; background-color: #f8f9fa; 
}
div#divHeaderTitle{font-size: 28px; font-weight: normal; float: left; margin-top: 20px; margin-left: 15px;font-family: Calibri;
font-size: 18.5px;
font-weight: bold; }
div#divHeaderVersion{text-align: left; font-size: 10px; font-weight: normal; }
div#divHeaderIcon {float: right; width: 30vw; }
img#imgHeaderLogo {height:69px; float: right; }

input#username{font-family:calibri,sans-serif;outline:0;width:100%;border:0;padding:10px;font-size:14px;background:#f2f2f2;margin:0 0 15px;box-sizing:border-box}
input#password{font-family:calibri,sans-serif;outline:0;width:100%;border:0;padding:10px;font-size:14px;background:#f2f2f2;margin:0 0 15px;box-sizing:border-box}
button#loginbutton{text-transform:uppercase;
font-family:calibri;outline:0;width:100%;border:0;padding:10px;font-size:14px;background:#888;margin:0 0 15px;box-sizing:border-box}

.format {
	width: 290px;box-sizing: inherit; position: relative; 
 	 margin-right: auto; min-height: 150px;
    background: #FFF;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.24);
    font-size: 8px;
}

div#footer{height:30px;background-color:#444;
}
