.form-control {
    width: 100%;
    height: calc(2.30rem + 2px);
    padding: 0.0rem .75rem;
    font-size: 0.9rem;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
ul {
 list-style: none;
 padding: 0;
 margin: 0; 
}

.main-nav {
 float: right;
 margin-top: 0px;

}
 .main-nav > li {
   float: left;
   
 }
 .main-nav li:first-child {
   border-left: none;
 }
 .main-nav a {

   display: block;
   padding: 5px 5px;
   text-decoration: none;
 }
.dropdown,
.flyout {
 position: relative;
}
.dropdown:after {
 font-size: 10.5px;
 display: block;
 position: absolute;
 top: 38%;
 right: 12%;

}
.drop-nav,
.flyout-nav {
 position: absolute;
 display: none;
}
.drop-nav li {
 border-bottom: 1px solid rgba(255,255,255,.2);
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
 display: block;
}
.flyout-nav {
 left: 100%;
 top: 0;
}
.flyout:hover a,
.flyout-nav {

}

/**
**/
table {
	width: 100%;
}

.table td, .table th {
	padding: 0.3rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}

thead, tbody, tr, td, th {
	display: block;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: 45px;
    text-align: left;
}

tbody {
	height: 400px;
	overflow-y: auto;
}

thead {
	/* fallback */
	
}

tbody td, thead th {
	width: 16.5%;
	float: left;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* background-color: grey; */
	color: white;
	/* text-align: center; */
}

.fragment img {
	float: left;
	margin-right: 10px;
}

#close {
	float: right;
	display: inline-block;
	padding: 2px 5px;
	/*  background:#ccc;*/
}

#close:hover {
	float: right;
	display: inline-block;
	padding: 2px 5px;
	background: #ccc;
	color: #fff;
}

#load {
	position: absolute;
	z-index: 1;
	border: 3px double #999;
	background: #f7f7f7;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;
	top: 50%;
	left: 50%;
	text-align: center;
	line-height: 300px;
	font-family: "Trebuchet MS", verdana, arial, tahoma;
	font-size: 18pt;
}