
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
 
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

	<div class="row">

		<div class="col-md-6 col-md-offset-3">
			<h1>Login</h1>
			<h3>Enter user name and password:</h3>
			<form autocomplete="off" name='f'
				th:action="@{/j_spring_security_check}" method='POST'>

				<input type="text" id="username" name="username"
					th:placeholder="Username" class="form-control" /> <br /> <input
					type="password" th:placeholder="Password" id="password"
					name="password" class="form-control" /> <br />
				<!-- /login?error=true -->
				<div align="center"
					th:if="${#request.getParameter('error') == 'true'}">
					<p style="font-size: 20; color: #FF1C19;">
						Login Failed!!! <br> Reason : <span
							th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
							th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
							Static summary </span>
					</p>
				</div>

				<button class="btn btn-lg btn-primary btn-block" name="Submit"
					value="Login" type="Submit" th:text="Login"></button>
			</form>
		</div>
	</div>
</div>

<br>
Username/pass:
<ul>
	<li>dbuser1/123</li>
	<li>dbadmin1/123</li>
</ul>
</body>
</html>